<div class="card">
  <div class="card-content">
    <p>Add, delete and update Items(CRUD operations supported by Firestore <i style="color: #26a69a;" class="fa fa-heart"></i> ),</p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Add Item</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Add Title" type="text" [(ngModel)]="item.title" name="title" >
          <label>Title</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Add description" type="text" [(ngModel)]="item.description" name="description">
          <label>Description</label>
        </div>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div>
